Source: ros-eloquent-py-trees-ros-tutorials
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), pyqt5-dev-tools, python3-pytest, python3-setuptools, qttools5-dev-tools, ros-eloquent-action-msgs, ros-eloquent-py-trees, ros-eloquent-py-trees-ros, ros-eloquent-rclpy, ros-eloquent-ros-workspace, python3-all, python3-setuptools
Homepage: https://py-trees-ros-tutorials.readthedocs.io/en/release-1.0.x/
Standards-Version: 3.9.2

Package: ros-eloquent-py-trees-ros-tutorials
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, pyqt5-dev, python3-pyqt5, python3-pyqt5.qtsvg, python3-sip-dev, ros-eloquent-action-msgs, ros-eloquent-geometry-msgs, ros-eloquent-launch, ros-eloquent-launch-ros, ros-eloquent-py-trees, ros-eloquent-py-trees-ros, ros-eloquent-py-trees-ros-interfaces, ros-eloquent-rcl-interfaces, ros-eloquent-rclpy, ros-eloquent-ros2launch, ros-eloquent-ros2param, ros-eloquent-ros2run, ros-eloquent-ros2service, ros-eloquent-ros2topic, ros-eloquent-sensor-msgs, ros-eloquent-std-msgs, ros-eloquent-ros-workspace
Description: ROS2 extensions and behaviours for py_trees.
